*{
    box-sizing: border-box;
}

body{
    background-image: url(agree-1728448_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cont{
    width: 60%;
    margin: auto;
}

textarea{
    display: block;
    text-align: justify;
    background-color: #333;
    color: white;
    font-family: Arial;
    font-size: 14px;
}

.input-btn{
    display: block;
}